<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="logo" class = "logo" onclick="window.location.href='/'">
    ITS<span>issue tracking system</span>
</div>

<div th:fragment="logowith" >
    <div class="form-group row justify-content-between center-align">
        <div class ="logo">
            <div th:replace="~{logo::logo}" id = 'logo'></div>
        </div>
        <div>
            <a th:href="@{/statistic}" class="hyperlink">통계</a>
            <a th:href="@{/logout}" class="hyperlink">로그아웃</a>
        </div>

    </div>
</div>

</body>
</html>

