<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/logo.css}"> <!-- 외부 CSS 파일 링크 -->

        <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    </th:block>
</head>
<body>
<!-- 대체될 위치 -->
    <div class ="logo">
        <div th:replace="~{test::test}"></div>
    </div>

</body>
</html>