<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bar Chart of Numbers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
    body{
        color:#303050;
    }
    .hyperlink{
            padding-right: 50px;
            font-weight: bold;
        }
</style>
<body>
<div class="logo-container form-group row justify-content-between center-align">
    <div class ="logo">
        <div th:replace="~{logo::logo}" id = 'logo'></div>
    </div>
    <div>
        <a th:href="@{/userinfo}" class="hyperlink">유저 정보</a>
        <a th:href="@{/logout}" class="hyperlink">로그아웃</a>

    </div>
</div>
<div class="container mt-5">
    <h2>Number of issue per project</h2>
    <canvas id="myChart" width="" height="80"></canvas>
</div>
<script th:inline="javascript">
    var numbers = [[${issuePerProject}]];
    var projects = [[${project}]];
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: projects,
            datasets: [{
                label: "number of issue",
                data: numbers,
                backgroundColor: 'rgba(30, 30, 50, 0.2)',
                borderColor: 'rgba(30, 30, 50, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
            }
        }
    });

    /*]]>*/
</script>
</body>
</html>
